.slide-container {
  width: 128rem;
  margin: 0 auto;
}

.swiper-button {
  &-wrap {
    width: 128rem;
    height: 30rem;
    margin: 0 auto;
    position: absolute;
  }

  &-prev {
    // width: 35px;
    // height: 23px;
    left: 10rem;
    // right: 960px;
    top: auto;
    bottom: 2rem;
    // margin-top: 0;
    // z-index: 40;

    // background: url(../img/btn-prev.svg) no-repeat;
    // background-size: contain;
  }

  &-next {
    // width: 35px;
    // height: 23px;
    right: 10rem;
    top: auto;
    bottom: 2rem;
    // z-index: 40;

    //background: url(../img/btn-next.svg) no-repeat;
    // bottom: 45px;
    // margin-top: 0;
    // background: url(../img/btn-next.svg) no-repeat;
    // background-size: contain;
  }
}
// .swiper-container-rtl {
//   width: 300px;
//   height: 25px;
//   background-color: red;
// }

.swiper-button-prev::after {
  //display: none;
  background: url(../img/btn-prev.svg) no-repeat;
  background-size: 2.3rem 2.3rem;
  color: transparent;
}
.swiper-button-next::after {
  //display: none;
  // color: var(--color-white);
  color: transparent;
  background: url(../img/btn-next.svg) no-repeat;
  background-size: 2.3rem 2.3rem;
  // display: none;
  // color: var(--color-white);
  // box-shadow: 0px 0px 1px 0.5px rgba(0, 0, 0, 0.08);
}

.swiper-pagination {
  &-bullet {
    background: transparent !important;
    border: 0.1rem solid var(--color-white) !important;
    box-sizing: border-box !important;
    opacity: 1;
    &.swiper-pagination-bullet-active {
      background: var(--color-white) !important;
      box-sizing: border-box !important;
    }
  }
  // &-clickable {
  // }
}
.swiper-container {
  &-horizontal {
    .swiper-pagination-bullets {
      width: 128rem;
      margin: 0 auto;
      left: 50%;
      bottom: 2.7rem;
      transform: translateX(-50%);
      display: inline-block;
      align-content: flex-start;
      .swiper-pagination-bullet {
        margin: 0.6rem;
      }
    }
  }
}

.banner {
  width: 100vw;
  height: 55.5rem;

  background-color: #ccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 30%;

  .bg-color {
    height: 100%;
    background: linear-gradient(
      77deg,
      rgba(0, 0, 0, 0.6) 0,
      rgba(0, 0, 0, 0) 85%
    );
  }
  &__container {
    width: 128rem;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;

    // border: 2px solid red;
    article {
      width: 45rem;
      height: 100%;
      padding-top: 12rem;
      color: var(--color-white);
      button {
        width: 13rem;
        height: 3.6rem;
        // margin-bottom: 80px;
        margin-top: 2rem;
        color: var(--color-white);
        border-radius: 0.5rem;
        background-color: var(--color-netflix);
        cursor: pointer;
      }
    }
    &.banner3 {
      text-align: center;
      article {
        width: 100%;
        padding-top: 16rem;
      }
    }
  }
  &__subtitle {
    font-size: 1.8rem;
    &.banner3 {
      font: {
        size: 2rem;
        weight: var(--weight-medium);
      }
    }
  }
  &__title {
    word-break: keep-all;
    font: {
      size: var(--font-title);
      weight: var(--weight-bold);
    }
    line-height: 6rem;
    &.banner3 {
      font-size: 18rem;
      line-height: 16rem;
    }
  }
  &__year {
    margin-top: 1rem;
    font: {
      family: var(--font-eng);
      weight: var(--weight-medium);
      size: var(--font-sub-title);
    }
  }
  &__synopsis {
    width: 40rem;
    margin-top: 4.5rem;
    line-height: 2.5rem;
    word-break: keep-all;
    &.banner3 {
      width: 100%;
    }
  }
}
