.poster-big {
  width: 20%;
  height: 338.31px;
  padding: 0 12px;
  // border: 2px solid red;
  &__img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #dfdfdf;
    a {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
  }
  &__info {
    margin-top: 10px;
    font-size: var(--font-regular);
    display: flex;
    justify-content: space-between;
  }
  &__name {
    width: 75%;
    font-weight: var(--weight-medium);

    a {
      color: var(--color-black);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  &__avg {
    font-size: var(--font-small);
    margin-right: 5px;
  }
  &__rate-number {
    font-weight: var(--weight-medium);
  }
}
