.infocard {
  //border: 1px solid black;
  width: 100%;
  margin-bottom: 2.5rem;
}
.infocard__title {
  //border: 1px solid red;
  color: #666;
  font-size: 2rem;
}
.infocard__detail {
  //border: 1px solid blue;
  word-break: keep-all;
  font-size: 1.5rem;
  line-height: 2rem;
}
