.infocard {
  //border: 1px solid black;
  width: 360px;
  margin-bottom: 25px;
}
.infocard__title {
  //border: 1px solid red;
  color: #666;
  font-size: 17px;
}
.infocard__detail {
  //border: 1px solid blue;
  font-size: 14px;
  line-height: 15px;
}
