.banner {
  width: 100vw;
  height: 555px;
  // background-image: url(https://via.placeholder.com/1440x555);
  background: url(https://wallpapercave.com/wp/wp4428130.jpg) no-repeat 50% 15%;
  // background-color: linear-gradient(
  //   rgba(51, 51, 51, 1) 0%,
  //   rgba(51, 51, 51, 0) 90%
  // );
  background-size: cover;
  // position: relative;
  // top: -70px;
  .bg-color {
    height: 100%;
    background: linear-gradient(
      77deg,
      rgba(0, 0, 0, 0.6) 0,
      rgba(0, 0, 0, 0) 85%
    );
  }
  &__container {
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;

    // border: 2px solid red;
    article {
      margin-top: 180px;
      color: var(--color-white);
      button {
        width: 130px;
        height: 36px;
        // margin-bottom: 80px;
        margin-top: 20px;
        color: var(--color-white);
        border-radius: 5px;
        background-color: var(--color-netflix);
        cursor: pointer;
      }
    }
  }
  &__title {
    font: {
      size: var(--font-title);
      weight: var(--weight-bold);
    }
    &-eng {
      margin-top: 10px;
      font: {
        family: var(--font-eng);
        weight: var(--weight-medium);
        size: var(--font-sub-title);
      }
    }
  }
  &__synopsis {
    margin-top: 45px;
    line-height: 30px;
  }
}

.bg-color__top {
  height: 70px;
  background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 90%);
  position: absolute;
}
