.mypage {
  padding-top: 120px;
}
.user {
  width: 1280px;
  margin: 0 auto;
  &__aboutme {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  &__profile {
    display: flex;
    justify-content: space-between;
    &-img {
      width: 90px;
      height: 90px;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__info {
    width: 290px;
  }
  &__id {
    margin-top: 15px;
    font: {
      size: var(--font-sub-title);
      weight: var(--weight-bold);
    }
  }
  &__name {
    margin-top: 10px;
    font-size: var(--font-sub-regular);
  }
  &__description {
    margin-top: 20px;
  }
}
.button {
  margin: {
    top: 20px;
  }
  padding-left: -10px;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  button {
    margin-right: 10px;
    padding: 5px 5px;
    color: var(--color-gray);
  }
  button:hover {
    border-bottom: 1px solid var(--color-netflix);
    color: var(--color-netflix);
  }
}

.user::after {
  content: '';
  margin-top: 50px;
  display: block;
  border-bottom: 1px solid #dfdfdf;
}

.review-container {
  width: 1280px;
  margin: 30px auto 0;
  // border: 2px solid red;
  &__title {
    font: {
      size: var(--font-sub-title);
      weight: var(--weight-bold);
    }
    margin-bottom: 25px;
  }
  &__list {
    display: flex;
    margin-right: -40px;
  }
}
