.MyreviewList__wholeInfo {
  //border: 1px solid #c4c4c4;
  width: 840px;
  height: auto;
  border-radius: 5px;
  background-color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.MyreviewList-wrap {
  //border: 1px solid purple;
  width: 700px;
  height: auto;
  margin: 0 auto;
  position: relative;
  padding-top: 40px;
  padding-bottom: 80px;
}
.MyreviewList-top {
  border-bottom: 1px solid #c4c4c4;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.MywholeInfo__profile {
  display: flex;
  width: 50%;
  height: 30px;
}
.Myprofile__wrapper {
  // border: 1px solid orange;
  width: 30px;
  border-radius: 50%;
  // overflow: hidden;
  height: 30px;
}
.Myprofile__img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  float: left;
}
.Myprofile__nickname {
  line-height: 28px;
  padding-left: 10px;
  width: 80px;
}
.MywholeInfo__count {
  //border: 1px solid blue;
  width: 50%;
  height: 30px;
  position: relative;
  float: right;
  padding-right: 17px;
}
.Mycount__rate {
  //border: 1px solid black;
  width: 40px;
  height: 22px;
  line-height: 22px;
  float: right;
}
.Myimg-rate {
  float: left;
}
.Mycount__heart {
  //border: 1px solid black;
  width: 40px;
  height: 20px;
  margin-left: 20px;
  float: right;
  margin-top: -1px;
}
.Myimg-heart {
  float: left;
  margin-top: 0px;
  // line-height: 22px;
}

.Myrate-num {
  //border: 1px solid red;
  float: right;
  line-height: 19px;
  font-size: medium;
  font-weight: 500;
}

.MywholeInfo__div {
  //border: 1px solid #c4c4c4;
  width: 700px;
  min-height: 68px;
  padding: 12px;
  border-radius: 10px;
}
.MywholeInfo__btn {
  //border: 1px solid orange;
  float: right;
}
.Mybtn__review {
  width: 60px;
  height: 35px;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 5px;
}

.My update__textarea {
  border: 1px solid #c4c4c4;

  resize: none;
  width: 700px;
  min-height: 68px;
  padding: 12px;
  border-radius: 10px;
  line-height: 1.6;
  overflow-y: scroll;
}

.nomyreview {
  border-radius: 5px;
  width: 840px;
  height: 100px;
  line-height: 100px;
  background-color: #fff;
}

.nothing {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
