.reviewList__wholeInfo {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin-bottom: 6rem;
  background-color: #fff;
  filter: drop-shadow(0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
}
.reviewList-wrap {
  //border: 1px solid orangered;
  width: 90%;
  height: auto;
  margin: 4rem auto;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 7.5rem;
}
.reviewList-top {
  border-bottom: 0.1rem solid #c4c4c4;
  height: 6rem;
  display: flex;
  justify-content: space-between;
}
.wholeInfo__profile {
  //border: 1px solid blueviolet;
  width: 50%;
  height: 3rem;
}
.wholeInfo-wrap {
  //border: 1px solid black;
  position: relative;
  width: 70%;
  height: 3rem;
}

.profile__wrapper {
  //border: 1px solid orange;
  width: 3rem;
  height: 3rem;
  float: left;
  border-radius: 50%;
  overflow: hidden;
}
.profile__img {
  height: 3rem;
  width: 3rem;
  object-fit: contain;
}
.profile__nickname {
  //border: 1px solid green;
  height: 2.5rem;
  line-height: 2.5rem;
  padding-left: 1rem;
  float: left;
}
.wholeInfo__count {
  //border: 1px solid skyblue;
  width: 50%;
  height: 3rem;
  position: relative;
}
.count-wrapper {
  //border: 1px solid orangered;
  width: 20rem;
  height: 3rem;
  float: right;
  padding-right: 1.5rem;
}
.count__rate {
  //border: 1px solid red;
  width: 4rem;
  height: 3rem;
  line-height: 3rem;
  float: right;
}
.img-rate {
  //border: 1px solid red;
  float: left;
  width: 2rem;
  padding-top: 0.2rem;
}

.count__heart {
  //border: 1px solid black;
  width: 4rem;
  height: 3rem;
  margin-left: 2rem;
  float: right;
  margin-top: -0.1rem;
}
.img-heart {
  //border: 1px solid black;
  float: left;
  padding-top: 0.2rem;
  line-height: 2.2rem;
  width: 2rem;
}
.rate-num {
  //border: 1px solid red;
  float: right;
  line-height: 2rem;
  font-size: medium;
  font-weight: 500;
}
.clickcount__heart {
  //border: 1px solid green;

  height: auto;
  margin-top: 2rem;
  line-height: 2.2rem;
  float: left;
  div {
    display: flex;
    span {
      display: inline-block;
      margin-left: 5px;
    }
  }
}
.img-clickheart {
  //border: 1px solid black;
  float: left;
  margin-top: 0rem;
}

.wholeInfo__textarea {
  //border: 1px solid #ececec;
  width: 70rem;
  padding: 1.2rem 0;
  border-radius: 1rem;
  margin-top: 2rem;
}
