.reviewbanner {
  //border: 1px solid black;
  width: 100vw;
  height: 325px;
  background-color: lightgrey;
}
.review-wrap {
  width: 1280px;
  margin: 0 auto;
}
.reviewbanner__title {
  //border: 1px solid blue;
  font-size: 48px;
  padding-top: 185px;
  margin-bottom: 15px;
  font-weight: bold;
}
.reviewbanner__netflix {
  width: 130px;
  height: 36px;
  border-radius: 5px;
  background-color: #e50914;
  color: #fff;
  font-size: 14px;
}
