.reviewList__wholeInfo {
  width: 840px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 60px;
  background-color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.reviewList-wrap {
  //border: 1px solid orangered;
  width: 700px;
  height: auto;
  margin: 40px auto;
  position: relative;
  padding-top: 40px;
  padding-bottom: 75px;
}
.reviewList-top {
  border-bottom: 1px solid #c4c4c4;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.wholeInfo__profile {
  //border: 1px solid blueviolet;
  width: 50%;
  height: 30px;
}

.profile__wrapper {
  //border: 1px solid orange;
  position: absolute;
  width: 30px;
  height: 30px;
}
.profile__img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  float: left;
}
.profile__nickname {
  //border: 1px solid green;
  position: absolute;
  width: 80px;
  line-height: 28px;
  padding-left: 10px;
}
.wholeInfo__count {
  //border: 1px solid skyblue;
  width: 50%;
  height: 23px;
  position: relative;
  float: right;
  padding-right: 17px;
}
.count__rate {
  //border: 1px solid red;
  width: 40px;
  height: 22px;
  line-height: 22px;
  float: right;
}
.img-rate {
  //border: 1px solid red;
  float: left;
}
.count__heart {
  //border: 1px solid black;
  width: 40px;
  height: 22px;
  margin-left: 20px;
  float: right;
  margin-top: -1px;
}
.img-heart {
  //border: 1px solid black;
  float: left;
  margin-top: 0px;
  line-height: 22px;
}
.clickcount__heart {
  //border: 1px solid green;
  width: 70px;
  height: 20px;
  margin-top: 15px;
  line-height: 22px;
  float: left;
}
.img-clickheart {
  //border: 1px solid black;
  float: left;
  margin-top: 0px;
}

.rate-num {
  //border: 1px solid red;
  float: right;
  line-height: 15px;
  font-size: medium;
  font-weight: 500;
}

.wholeInfo__textarea {
  border: 1px solid #ececec;
  width: 700px;
  padding: 12px;
  border-radius: 10px;
  margin-top: 30px;
}

// .profile__wrapper {
//
// }
