.background {
  background-color: #efefef;
  width: 100%;
}
.area {
  width: 80%;
  display: flex;
  margin: 2rem auto;
  padding-top: 5rem;
  padding-bottom: 35rem;

  & > * {
    float: left;

    &:not(:last-child) {
      margin-right: 4rem;
    }
  }
}
.left {
  width: calc((100% - 4rem) / 10 * 3.2);
}

.right {
  width: calc((100% - 4rem) / 10 * 6.8);
  & > * {
    margin: 0 auto;
  }
}
