.signinModal {
  //display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  // background-color: rgba(0, 0, 0, 0.6);
}
.modal-back {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
}

.signup {
  border: 1px solid black;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //margin: 0 auto;
  width: 475px;
  height: 840px;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
  z-index: 1000;
}
p.input {
  color: #bf1650;
  margin-top: -8px;
}

p.input::before {
  display: inline;
  content: '⚠ ';
}

.img {
  margin: auto;
  margin-top: 55px;
}
.signup__wrap {
  //border: 1px solid red;
  margin-top: 40px;
  width: 379px;
  margin-left: 47px;
  margin-right: 47px;
}
.signup-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: black;
}

.signup-form {
  //border: 1px solid green;
  margin-top: 20px;
}
input::placeholder {
  color: #c4c4c4;
}

.signup-input {
  width: 379px;
  height: 47px;
  margin-bottom: 15px;
  background-color: #f0efef;
  padding-left: 10px;
}

// .signup-btn {
.alert__sign-up {
  color: var((--color-netflix));
  text-align: center;
}
.login-btn {
  //border: 1px solid blue;
  margin-top: 20px;
}
#completebtn {
  width: 379px;
  height: 59px;
  border-radius: 3px;
  margin-bottom: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

#Btn {
  // border: 1px solid orange;
  width: 379px;
  height: 59px;
  border-radius: 3px;
  margin-bottom: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}
.signupcompleteButton {
  background-color: #df2e1c;
  color: #fff;
  //margin-top: -20px;
}
.signupMoveButton {
  border: 2px solid #df2e1c;
}

.signup-social {
  border-top: 2px solid #d4cece;
  margin-top: 22px;
  //padding-top: 24px;
}
.signup-social__wrap {
  //border: 1px solid black;
  margin-top: 20px;
}
.signupsocial__wrap {
  //border: 1px solid black;
  width: 250px;
  height: 60px;
  margin: 0 auto;
}

.google {
  //border: 1px solid pink;
  display: inline-block;
  //margin-right: 38px;
}

.logo {
  width: 250px;
  height: 60px;
  background: url(../img/btn_google_signin_light_normal_web@2x.png) no-repeat;
  background-size: contain;
}
