.smallPoster {
  //border: 1px solid black;
  width: 180px;
  height: 320px;
  margin-bottom: 30px;
  margin-right: 40px;
  display: inline-block;
}
.poster {
  background-color: lightgrey;
  width: 180px;
  height: 260px;
  border-radius: 10px;
}
.smallPoster__info {
  //border: 1px solid blue;
  margin-top: 12px;
  position: relative;
}
.smallPoster__poster-name {
  //border: 1px solid red;
  a {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.smallPoster__poster-rate {
  //border: 1px solid green;
  font-size: 14px;
}
.poster-rate__name {
}
.poster-rate__rate-num {
  margin-left: 5px;
}
