.programlist-wrapper {
  width: 100%;
  margin: 0 auto;
  height: 300px;
  padding-top: 150px;
  display: block;
  //border: 1px solid black;
}
.programimage-wrap {
  padding-top: 100px;
}
.programimage {
  //border: 1px solid blue;
  margin: 0 auto;
}
.program__wrap {
  //border: 1px solid red;
  height: auto;
  margin: 10px auto;
}
.program__title {
  //border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 60px;
}
.program__text {
  //border: 1px solid blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: larger;
  padding-top: 10px;
}
