.writereview {
  max-width: 96rem;
  border-radius: 0.5rem;
  background-color: #fff;
  filter: drop-shadow(0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
}
.writereview-wrap {
  //border: 1px solid blue;
  padding: 4rem;
}
.writereview__myscore {
  // border: 1px solid blue;
  height: 8rem;
  margin-bottom: 0.5rem;
}
.myscore__title {
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: var(--weight-bold);
}

.myscore__rate {
  margin: 1rem;
  margin-top: 2rem;
  display: flex;
}
.rate-pic {
  // border: 1px solid red;
  display: inline-block;
  margin-right: 1rem;
}
.writereview__text {
}

.text__title {
  margin: 1rem;
  font-size: 2rem;
  font-weight: var(--weight-bold);
}

.text__div {
  height: auto;
}

.text__textarea {
  border: 0.1rem solid #c4c4c4;

  resize: none;
  width: 100%;
  height: 100%;
  min-height: 13rem;
  padding: 1.2rem;
  line-height: 1.6;
  overflow-y: scroll;
}

.invalid {
  border: 0.1rem solid #b91f1f;
  background-color: #feeff4;
}

.text__btn {
  text-align: right;
}
.btn__review {
  width: 13rem;
  height: 3.5rem;
  font-size: 1.6rem;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
